* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #131921;
  --color-gray: #3b4149;
  --color-mati: #febd69;
}

body {
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

/* header */

.header-top-strip {
  border-bottom: 1px solid var(--color-gray);
  background-color: var(--color-black);
}

.header-upper {
  background-color: var(--color-black);
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.header-upper .input-group-text {
  background-color: var(--color-mati);
}

.header-upper-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}
